<div class="container main-container obit">
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= image_tag @obit.image, class: 'img-fluid' %>
      <button class="btn btn-primary">Bestill blomster</button>
      <button class="btn btn-primary">Se annonse</button>
      <br>
      <br>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3><%= "#{@obit.f_name} #{@obit.l_name}" %></h3>
      <h6><%= "#{@obit.birthday} - #{@obit.death_date}" %></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-12">
      <h2>Minneord</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
