<div class="container-fluid main-banner">

  <div class="container message">
    <div class="row">
      <div class="col-12">
        <h1>Begravelsen slik du ønsker det</h1>
      <div class="buttons">
        <button type="button" name="button" class="btn btn-lg">Få hjelp nå</button>
        <button type="button" name="button" class="btn btn-lg">Bestill blomster</button>
      </div>
    </div>
  </div>
</div>
