<div class="container-fluid hero homepage">
  <div class="container message">
    <div class="row">
      <div class="col-12">
        <h1>Begravelsen slik du ønsker det</h1>
      <div class="buttons">
        <!-- <button type="button" name="button" class="btn btn-lg" id="button">Få hjelp nå</button> -->
        <%= link_to 'Få hjelp', new_admin_session_path, class: 'btn btn-lg id welcome-button' %>
        <%= link_to 'Bestill blomster', 'https://bye.vareminnesider.no', class: 'btn btn-lg id welcome-button' %>
      </div>
    </div>
  </div>
</div>

<div class="divider">
</div>
