<div class="container-fluid hero til-begravelsen">
  <div class="container message">
    <div class="row">
      <div class="col-12">
        <h1>Til begravelsen</h1>
      </div>
    </div>
  </div>
</div>

<div class="divider">
</div>
