<div class="container-fluid hero til-begravelsen">
  <div class="container message">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Til begravelsen</h1>
        <br />
        <p><a href="#page-menu" class="down-arrow"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>


<div class="navbar navbar-expand-lg bg-white page-menu fixed smooth-scroll" id="page-menu">
  <ul class="navbar-nav test" id="menu">
    <li class="nav-item active-item" id="seremoni-item">
      <span class="nav-link pointer" id="seremoni-link">Seremoni</span>
    </li>
    <li class="nav-item" id="blomster-item">
      <span class="nav-link pointer" id="blomster-link">Blomster</span>
    </li>
    <li class="nav-item" id="kister-item">
      <span class="nav-link pointer" id="kister-link">Kister</span>
    </li>
    <li class="nav-item" id="urner-item">
      <span class="nav-link pointer" id="urner-link">Urner</span>
    </li>
    <li class="nav-item" id="musikk-item">
      <span class="nav-link pointer" id="musikk-link">Musikk</span>
    </li>
    <li class="nav-item" id="transport-item">
      <span class="nav-link pointer" id="transport-link">Transport</span>
    </li>
  </ul>
</div>
<br />
<br />

<div class="container begravelse-content">
    <div class="container tab" id="seremoni">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Seremoni</h1>
          <%= image_tag 'seremonisal.jpg', class: 'img-fluid' %>
          <br>
          <br>
          <p>Det er viktig for oss at begravelsesseremonien blir en så god og verdig avskjed med avdøde som overhode mulig. Seremonien vil selvsagt tilrettelegges deres og avdødes ønsker så godt som mulig innenfor de lovene og rammene som vi har. Det første vi gjør er ofte å ha en planlegginssamtale der vi presenterer de forskjellige alternativer som finnes, samt hvilke ønsker dere har i forhold til en avskjedsseremoni. Vi vil lede dere gjennom planleggingen steg for steg og hjelper dere å ta de beslutningene som må tas i henhold til seremonien, slik som valg av type seremoni, seremonisted, musikk og programhefter etc.</p>
          <p>Begravelsen eller bisettelsen skal som hovedregel finne sted innen 10 virkedager etter dødsfallet. Det finnes tilfeller der dett ikke lar seg gjøre og da er det er kirkeverge som evt kan gi dispensasjon fra denne regelen ved spesielle omstendigheter. </p>
          <p>Den som har tatt på seg ansvaret for begravelsen må, i samsvar med avdøde sine ønske, ta stilling til om det skal være en vanlig jordbegravelse eller kremasjon, og hvilken type seremoni man ønsker. Etterlatte i følgende rekkefølge har rett til å ta seg av begravelsen: Ektefelle, barn, foreldre, barnebarn, besteforeldre, søsken, barn av søsken og søsken av foreldrene. Ansvarlig for begravelsen må ha fylt 18 år.</p>
          <p>I gravferdslova, kap. 2, § 9, går det frem hvem som kan være ansvarlig for en begravelse.</p>
          <h4>Kremasjon eller jordgrav</h4>
          <p>Mange tenker ikke over at kremasjon er et alternativ til jordgrav. Hvis en velger kremasjon, vil en seremonien vil bli gjennomført og avsluttet ved at man bærer kisten til bilen. Bilen vil frakte avdøde til krematoriet for kremasjon. Avdødes urne vil ofte settes ned på valgte gravsted 2-3 uker etter seremonien har funnet sted. Tidspunkt for en urnenedsettelse kan avtales nærmere både med kortere og lengre tidsintervall fra seremonien, men vil tidligst kunne skje 1-2 dager etter seremonien og senest innen 6 måneder etter dødsfallet. </p>
          <p>Du kan lese mer om urnenedsettelse her. Ved jordgrav vil vi som oftest følge avdøde til valgte gravsted og avslutte seremonien og avskjeden ved graven.</p>
        </div>
      </div>
    </div>

    <div class="container hide tab" id="blomster">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Blomster</h1>
          <p>Blomster er en tradisjonell og for mange en fin måte å uttrykke sitt savn og sin relasjon til avdøde, sammen med en siste hilsen. Blomster skaper også ofte en vakker ramme rundt seremonien og gjenspeiler ofte livet og forholdet til den avdøde. Vi kan gjerne være behjelpelig med å finne rett løsningen for deg og veilede dere i forhold til tekster og hilsener. Du kan enkelt bestille blomster på våre nettsider eller på telefon “70 12 12 55”. Blomstrene vil bli levert til seremonistedet begravelsesdagen. Det er selvsagt mulighet for at du selv leser opp din siste hilsen, da er det fint om du tar kontakt med oss når du kommer til seremonistedet for å avklare når det er tid for deg å lese. Vi er stolt av å kunne samarbeide med dyktige fagfolk hos “Blomstergården” i Ålesund.</p>
          <h4>Blomster til båren</h4>
          <p>Det finnes ingen bestemte regler for hvilke blomster man burde kjøpe, men les gjerne våre tips om hva som er vanligst i dagens begravelser:</p>
          <ul>
            <li><p>En Kistedekorasjon blir liggende oppå kisten er forbeholdt de som stod avdøde aller nærmest som f.eks ektefelle, foreldre eller barn. Man kan selvsagt velge farge, utforming og type blomster selv.</p></li>
            <li><p>Rundkrans er en krans som er fylt med blomster rundt hele og kan fåes i forskjellige størrelser og utforming og er et fint alternativ for deg som står litt ekstra nært eller som vil gi en blomst med en viss tyngde.</p></li>
            <li><p>Kronekrans er en krans fylt med grønt(som f.eks tuja) med en flott krone av blomster øverst.</p></li>
            <li><p>Båredekorasjoner er en oppsats av blomster i oasis og blir ofte gitt av både nær familie, venner, naboer og bekjente.</p></li>
            <li><p>En bårebukett er noe mindre enn en båredekorasjon og blir bygget opp som en litt flat blomsterbukett der stilkene vil være synlig. Det blir ofte gitt av f.eks. bekjente, naboer eller kollegaer.</p></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="container hide tab" id="kister">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Kister</h1>
          <p>Hvilken kiste man velger, vil sette et spesielt preg på begravelsen. Vi har en rekke ulike varianter utstilt i våre lokaler i Buholmgata. Kistene er laget i massivt tre og er av høy kvalitet.</p>
          <%= image_tag 'brun-kiste.jpg', class: 'img-fluid' %>
        </div>
      </div>
    </div>

    <div class="container hide tab" id="urner">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Urner</h1>
          <%= image_tag 'hvit-urne.jpg', class: 'img-fluid' %>
          <p>Vi har en rekke flotte urner som representerer hvem den avdøde var betydde for andre. Urnene er laget med tanke på hurtigst mulig nedbryting i jorden. Man kan også få urne i bioorganisk, forgjengelig materiale. Med en slik type urne vil nedbrytningsprosessen begynne med en gang urnen senkes ned i jorden.</p>
        </div>
      </div>
    </div>

    <div class="container hide tab" id="musikk">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Musikk</h1>
          <p>Mens blomster bidrar til det visuelle, kan musikken skape en helt spesiell atmosfære i en begravelsesseremoni. Spesielt kan musikk være viktig når avdøde selv hadde et sterkt forhold til musikk. Vi har et stort nettverk av lokale og noen nasjonale artister av høyt nivå. Vi mener at alle fortjener en verdig og minnerik gravferd, og musikken kan bidra til å oppnå nettopp dette.</p>
          <h4>Salmer</h4>
          <p>Velger man en kristelig begravelse gjennom “Den Norske Kirke” er det som oftest påkrevd å velge tre eller fire salmer som “allsang”. Det er opp til pårørende å velge hvilke salmer de ønsker å bruke i seremonien. Eksempler på salmer som er mye brukt i gravferd:</p>
          <p>Du kan se alternativ til salmer <a href="#">her</a></p>
          <h4>Solist</h4>
          <p>Å få inn en solist og/eller musikere er et flott komplement til gravferden. Vi har et stort nettverk av artister som gjerne vil bidra til å skape en verdig avskjed for din kjære enten ved sang, trompet, fiolin etc. Ut fra hvilken type seremoni dere ønsker kan vi planlegge musikkinnslagene i seremonien. Vi vil sammen sette opp et program og velge sanger som er ønsket og egnet.</p>
        </div>
      </div>
    </div>

    <div class="container hide tab" id="transport">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Transport</h1>
          <p>Vi mener at alle fortjener ydmyk respekt og verdig behandling, også etter sin bortgang. Som en del av våre tjenester transporterer vi den avdøde til sykehus eller annet tilsvarende sted for å ivareta den avdøde frem til begravelsesseremonien. Det er viktig for oss å kunne tilby tjenester med utstyr av høy kvalitet. Vi har derfor to ulike transportkjøretøy av høy standard i hvit og svart. Har du en spesiell preferanse kan du gjerne nevne dette for oss.</p>
          <%= image_tag 'biler.jpg', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function() {
			// grab the initial top offset of the navigation
		   	var stickyNavTop = $('.page-menu').offset().top;

		   	// our function that decides weather the navigation bar should have "fixed" css position or not.
		   	var stickyNav = function(){
			    var scrollTop = $(window).scrollTop(); // our current vertical position from the top

			    // if we've scrolled more than the navigation, change its position to fixed to stick to top,
			    // otherwise change it back to relative
			    if (scrollTop > stickyNavTop ) {
			        $('.page-menu').addClass('sticky');
              $('.contents').addClass('add-margin');
			    } else {
			        $('.page-menu').removeClass('sticky');
              $('.contents').removeClass('add-margin');
			    }
			};

			stickyNav();
			// and run it again every time you scroll
			$(window).scroll(function() {
				stickyNav();
			});
		});


      $(document).ready(function(){

        const seremoniLink = document.getElementById('seremoni-link');
        const seremoniItem = document.getElementById('seremoni-item');
        const seremoni = document.getElementById('seremoni');

        const blomsterLink = document.getElementById('blomster-link');
        const blomsterItem = document.getElementById('blomster-item');
        const blomster = document.getElementById('blomster');

        const kisterLink = document.getElementById('kister-link');
        const kisterItem = document.getElementById('kister-item');
        const kister = document.getElementById('kister');

        const urnerLink = document.getElementById('urner-link');
        const urnerItem = document.getElementById('urner-item');
        const urner = document.getElementById('urner');

        const musikkLink = document.getElementById('musikk-link');
        const musikkItem = document.getElementById('musikk-item');
        const musikk = document.getElementById('musikk');

        const transportLink = document.getElementById('transport-link');
        const transportItem = document.getElementById('transport-item');
        const transport = document.getElementById('transport');


        seremoniLink.onclick = function() {
          seremoni.classList.remove("hide");
          seremoniItem.classList.add("active-item");
          blomster.classList.add("hide");
          blomsterItem.classList.remove("active-item");
          kister.classList.add("hide");
          kisterItem.classList.remove("active-item");
          urner.classList.add("hide");
          urnerItem.classList.remove("active-item");
          musikk.classList.add("hide");
          musikkItem.classList.remove("active-item");
          transport.classList.add("hide");
          transportItem.classList.remove("active-item");
        }
        blomsterLink.onclick = function() {
          seremoni.classList.add("hide");
          seremoniItem.classList.remove("active-item");
          blomster.classList.remove("hide");
          blomsterItem.classList.add("active-item");
          kister.classList.add("hide");
          kisterItem.classList.remove("active-item");
          urner.classList.add("hide");
          urnerItem.classList.remove("active-item");
          musikk.classList.add("hide");
          musikkItem.classList.remove("active-item");
          transport.classList.add("hide");
          transportItem.classList.remove("active-item");
        }
        kisterLink.onclick = function() {
          seremoni.classList.add("hide");
          seremoniItem.classList.remove("active-item");
          blomster.classList.add("hide");
          blomsterItem.classList.remove("active-item");
          kister.classList.remove("hide");
          kisterItem.classList.add("active-item");
          urner.classList.add("hide");
          urnerItem.classList.remove("active-item");
          musikk.classList.add("hide");
          musikkItem.classList.remove("active-item");
          transport.classList.add("hide");
          transportItem.classList.remove("active-item");
        }
        urnerLink.onclick = function() {
          seremoni.classList.add("hide");
          seremoniItem.classList.remove("active-item");
          blomster.classList.add("hide");
          blomsterItem.classList.remove("active-item");
          kister.classList.add("hide");
          kisterItem.classList.remove("active-item");
          urner.classList.remove("hide");
          urnerItem.classList.add("active-item");
          musikk.classList.add("hide");
          musikkItem.classList.remove("active-item");
          transport.classList.add("hide");
          transportItem.classList.remove("active-item");
        }
        musikkLink.onclick = function() {
          seremoni.classList.add("hide");
          seremoniItem.classList.remove("active-item");
          blomster.classList.add("hide");
          blomsterItem.classList.remove("active-item");
          kister.classList.add("hide");
          kisterItem.classList.remove("active-item");
          urner.classList.add("hide");
          urnerItem.classList.remove("active-item");
          musikk.classList.remove("hide");
          musikkItem.classList.add("active-item");
          transport.classList.add("hide");
          transportItem.classList.remove("active-item");
        }
        transportLink.onclick = function() {
          seremoni.classList.add("hide");
          seremoniItem.classList.remove("active-item");
          blomster.classList.add("hide");
          blomsterItem.classList.remove("active-item");
          kister.classList.add("hide");
          kisterItem.classList.remove("active-item");
          urner.classList.add("hide");
          urnerItem.classList.remove("active-item");
          musikk.classList.add("hide");
          musikkItem.classList.remove("active-item");
          transport.classList.remove("hide");
          transportItem.classList.add("active-item");
        }
      })

</script>
