<div class="container-fluid hero hjelp">
  <div class="container message">
    <div class="row">
      <div class="col-12">
        <h1>Hjelp ved dødsfall</h1>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-lg bg-dark page-menu">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">I hjemmet</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">På Institusjon</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">I Utlandet</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Annet</a>
    </li>
  </ul>
</div>

<div class="divider">
</div>

<!-- <div class="navbar bg-dark">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a href="#" class="nav-link">I hjemmet</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="nav-link">På institusjon</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">I utlandet</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Andre tilfeller</a>
    </li>
  </ul>
</div> -->
