<div class="container-fluid banner-background">
  <div class="container-fluid main-hero">
    <div class="row full-height main-banner">
      <div class="col main-col mid-c full-height">
        <div class="main-box text-center">
          <h1>Omsorg ved livets slutt</h1>
          <p>Vi er totalleverandør innen begravelse. Hos oss vil du</p>
          <p> bli tatt vare på med respekt og verdighet</p>
          <%= link_to 'Ta kontakt', pages_om_oss_path, class: 'btn-main' %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container section">
  <div class="row">
    <div class="col-sm-12">
      <div class="flower-banner d-flex align-items-center justify-content-end">
        <div class="flower-text ">
          <h1>Kjøp blomster til begravelsen</h1>
          <p>En siste hilsen med blomster kan bety mer enn tusen ord.<p>
          <p>Få blomster sendt direkte til begravelsen eller til hjemmet</p>
          <button class="btn-main btn-banner">Bestill nå</button>
        </div>
      </div>
    </div>
  </div>
</div>
