<div class="container-fluid hero homepage">
  <div class="container message">
    <div class="row">
      <div class="col-12">
        <h1 style="font-family:'Garamond';">Begravelsen slik du ønsker det</h1>
        <br />
      <div class="buttons">
        <!-- <button type="button" name="button" class="btn btn-lg" id="button">Få hjelp nå</button> -->
        <%= link_to 'Få tilbud', 'https://bye.vareminnesider.no', class: 'btn btn-lg id welcome-button' %>
      </div>
    </div>
  </div>
</div>

<div class="divider">
</div>

<div class="section sales">
  <div class="row">
    <div class="col-4 text-center">
      This
    </div>
    <div class="col-4 text-center">
      This
    </div>
    <div class="col-4 text-center">
      And that
    </div>
  </div>
</div>
