<div class="container-fluid  main-hero">
  <div class="row full-height om-oss">
    <div class="col main-col mid-c full-height">
      <div class="box">
        <h1>Om oss</h1>
        <p>Vi er totalleverandør innen begravelse</p>
        <p>Hos oss vil du bli tatt vare på med respekt og verdighet</p>
        <button class="btn">Se begravelse</button>
      </div>
    </div>
  </div>
</div>
