// Place all the styles related to the obits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-box {
  border: 1px solid black;
  padding: 2%;
  background-color: rgba(233, 233, 233, 0.34)
}

.tribute-box {
  border: 1px solid black;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 1%;
  margin-bottom: 1%;
}

.tribute-form textarea, .tribute-form input text  {
  width: 50%;
}
