<ul class="nav flex column">
  <li class="nav-item"
    <a class="nav-link" href="#">I hjemmet</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">På institusjon</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">I utlandet</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Spesielle omstendigheter</a>
  </li>
</ul>
</div>
<div class="col-3">
Til begravelsen
<ul class="nav flex column">
  <li class="nav-item"
    <a class="nav-link" href="#">Seremoni</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Blomster</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Kister</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Urner</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Musikk</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Transport</a>
  </li>
</ul>
</div>
<div class="col-3">
Etter begravelsen
<ul class="nav flex column">
  <li class="nav-item"
    <a class="nav-link" href="#">Arv og skifterett</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Gravmonument</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Minnebok</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Urnenedsettelse</a>
  </li>
</ul>
</div>
<div class="col-3">
Om oss
<ul class="nav flex column">
  <li class="nav-item"
    <a class="nav-link" href="#">Vår historie</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Tilbakemeldinger</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Våre ansatte</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Priser</a>
  </li>
  <li class="nav-item"
    <a class="nav-link" href="#">Kontakt</a>
  </li>
</ul>
